<div class="container-main">
    <div class="d-block">
        <div class="adplacement-container-row">
            <div class="col-12">
                <a href="#" class="adplacement-item mb-4">
                    <div class="adplacement-sponsored_box">
                        <img src="/assets/images/adplacement/4.jpg">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>