<div class="col-lg-8 pr">
    <div class="header-search row text-right">
        <div class="header-search-box">
            <form action="/home/arshive" method="get" class="form-search">
                <input type="search" class="header-search-input" name="filter"
                       placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                     <div class="action-btns">
                        <button class="btn btn-search" type="submit">
                            <img src="/assets/images/search.png" alt="search">


                        </button>    
                        
                     </div>
            </form>            
        </div>
    </div>
</div>