<div class="text-left" dir="ltr">
    <nav class="top-bar-menu py-0">
        <div class="container-main">
            <div class="col-12">
                <div class="top-bar-right">
                    <ul class="top-menu-ul d-block">
                        <li class="top-menu-item menu-item-type ml-0">
                            <a href="#" class="top-menu-icon-link">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                        </li>
                        <li class="top-menu-item menu-item-type ml-0">
                            <a href="#" class="top-menu-icon-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="top-menu-item menu-item-type ml-0">
                            <a href="#" class="top-menu-icon-link">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="top-menu-item menu-item-type ml-0">
                            <a href="#" class="top-menu-icon-link">
                                <i class="fa fa-paper-plane"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>